@font-face {
  font-family: Montserrat;
  src:
    url(./Montserrat-Regular.ttf) format('truetype');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: Montserrat;
  src:
    url(./Montserrat-Bold.ttf) format('truetype');
  font-weight: bold;
  font-display: swap;
}

@font-face {
    font-family: 'PressStart2P';
    src: url(./PressStart2P-Regular.woff) format('woff');
    font-weight: normal;
    font-display: swap;
}
